<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<p>
  <strong>Avatar file name:</strong>
  <%= @profile.avatar_file_name %>
</p>

<p>
  <strong>Avatar content type:</strong>
  <%= @profile.avatar_content_type %>
</p>

<p>
  <strong>Avatar file size:</strong>
  <%= @profile.avatar_file_size %>
</p>

<p>
  <strong>Avatar updated at:</strong>
  <%= @profile.avatar_updated_at %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
